*{box-sizing: border-box;}

.childComponent{

width: 330px;
height: 560px;
background-color: whitesmoke;
/* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
text-align: center;
justify-content: center;
/* border: 1px solid dodgerblue; */
border-radius: 10px;
box-shadow: 5px 5px 5px 5px #4b6cb7 ;

}

.container{

/* background-color: gold; */
background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
height: 100vh;
display: grid;
justify-content: center;
/* text-align: center; */


}

.row1{
    text-align: center;
    height: 20px;
    width: 295px;
    /* border: 1px solid black; */
}
.row2{

    height: 40px;
    /* border: 1px solid black; */
}
.row3{

    height: 20px;
    /* border: 1px solid black; */
}
.row4{
    text-align: left;
    height: 70px;
    /* border: 1px solid black; */
    padding-left: 15px;
}
.row5{
    text-align: left;
    height: 50px;
    /* border: 1px solid black;     */
    padding-left: 15px;
    padding-bottom: 5px;
}
.row6{

    height: 70px;
    /* border: 1px solid black; */
    padding-left: 10px;
    padding-top: 10px;
}
.row7{

    height: 40px;
    /* border: 1px solid black; */
    padding-left: 20px;
}
.row8{

    height: 110px;
    /* border: 1px solid black; */
    padding-left: 20px;

}

.row9{

    padding-left: 20px;

}

.childComponent .username{

    width: 250px;
    height: 30px;
    /* border-radius: 4px; */
    border:none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    
    
    
}

#pwd{

    width: 250px;
    height: 30px;
    /* border-radius: 4px; */
    border:none;
    background-color: transparent;
    border-bottom: 1px solid gray

}

label{

color: black;
}

button{

    height: 40px;
    width: 250px;
    /* justify-content: center; */
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

    border-radius: 20px;
    /* border: none; */
    font-size: large;
    font-weight: bold;
}

img{

    height: 40px;
    width: 39px;
    border-radius: 20px;

}

.fb{

    padding-right: 20px;
}

#forgotpassword{

font-weight: bold;
padding-left: 122px;

}

#user{

    height: 20px;
    width: 20px;
    padding-top: 3px;
}

#key{

    height: 20px;
    width: 20px;
    padding-top: 3px;

}